html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;}
.container {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
}
.form-contain {
	background: url(../images/places4.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.nav {
	height: 70px;
	width: 100%; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	background-color: #fff;
}
.nav__icon {
	width: 6vw;
	margin: 0 30px;
}
.nav__icon img {
	width: 100%;
}
.icon--circle {
	width: 8vw;
	height: 8vw;
	padding: 5%;
	background-color: #27AAE1;
	border-radius: 50%;
	position: relative;
	bottom: 25px;
}
.content {
	min-height: 100vh;
	width: 100%;
}
.content-profile {
	padding-bottom: 60px;
}
.header {
	height: 70px;
	width: 100%;
	background-color: #27AAE1;
	color: #fff;
	display: flex;
	align-items:center;
	justify-content:center;
	position: fixed;
	top: 0;
	z-index: 1;
}
form {
	background: linear-gradient(45deg, rgba(225, 88, 160, 0.7) 0%,rgba(39, 170, 225, 0.7) 100%);
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
form input {
	width: 200px;
	padding: 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	color: rgba(60, 60, 60, 0.65);
	margin-bottom: 10px;
	border-radius: 100px;
	border: 0;
	outline: 0;
}
form .button {
	width: 110px;
	background-color: #E158A0;
	padding: 10px 0;
	margin: 5px 0 0;
	border-radius: 100px;
	text-align: center;
}
a {
	text-decoration: none;
	color:#fff;
}
.logo_title {
	color: #fff;
	padding-bottom: 20%;
}
.content-feature {
	background-image: linear-gradient(45deg, rgba(225, 88, 160, 0.8) 0%, rgba(39, 170, 225, 0.36) 55%), url(../images/places5.jpg);
	background-size: cover;

}
.featured__text {
	width: 90%;
	color: #fff;
	position: absolute;
	bottom: 17%;
	left: 4%;
}

.featured__text-h1 {
	font-size: 25px;
	margin: 5px 0;
}
.featured__text-p {
	font-size: 15px;
}
.profile {
	padding-top: 70px;
	color:rgba(76,76,76,1);
	display: flex;
	align-items:center;
	height: 130px;
}
.profile__img {
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	background-color: rgba(76,76,76,0.5);
	margin: 0 30px;
}
.profile__data-p {
	color:rgba(76,76,76,0.5);
	margin: 0;
	font-size: 12px;
}
.profile__data-h2 {
	margin: 0;
}
.profile-nav {
	width: 100%;
	display: flex;
	height: 45px;
}
.profile-nav__button {
	display: flex;
	align-content:center;
	justify-content:center;
	width: 50%;
	background-color:#27aae1;
}
.profile-nav__button:first-child {
	border-right: 1px solid #2392c1;
}
.profile-nav__button:last-child {
	border-left: 1px solid #2392c1;
}
.profile-nav__button:hover {
	background-color: #279dce;
}
.profile-nav__img-contain {
	width: 7vw;
	display: flex;
	justify-content:center;
	align-items:center;
}
.profile-nav__img-contain img {
	width: 100%;
}
.place-contain {
	width: 95%;
	margin: 10px auto;
	
}
.place {
	width: 100%;
	border-radius: 10px;
	height: 200px;
	background-size: cover;
	background-position: center;
	position: relative;
}

.place__h1 {
	position: absolute;
	bottom: 10%;
	left: 3%;
	color: #fff;
}
.place__a {
	width: 100%;
	height: 100%;
	display: flex;
}

